.backgroundCol {
  background-image: url("https://image.tmdb.org/t/p/w300/qJ2tW6WMUDux911r6m7haRef0WH.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
